*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.navbar{
    background-color: rgb(42, 59, 8);
    color:aliceblue;
}
.navbar .navbar-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    list-style: none;
}
.navbar .navbar-menu li a{
    text-decoration: none;
    color: aliceblue;
} 